/*  font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif; */

/* 컬러
    #000000
    #fbd4ab
    #e3002d 
    #fef896
    #ffe472
    #F6FDC3
    #FFCF96
    #FF8080
    #CDFAD5
 */


/* 헤더 영역입니다. */
header {
    background-color: #F6FDC3;
    display: flex;
    flex-flow: wrap nowrap;
    justify-content: center;
    height: 150px;
    border-bottom: 1px solid #c5c5c5;
}
header a {
    line-height: 150px;
    font-size: 3rem;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 500;
    margin-right: 60px;
}
header a img {
    width: 60px; height: 60px;
}
/* 메인 영역 입니다. */
main {
    text-align: center;
    background-color: #CDFAD5;
}
main h1{
    padding: 40px 40px;
    font-size: 6rem;
    font-family: 'Nanum Pen Script', cursive;
    letter-spacing: 3px;
}
main h1 img {}
main .photo{}
main .photo img{}
main .contents{
    font-size: 2rem;
    padding: 40px 60px;
}
main .contents span {font-size: 2rem; color: #e3002d;}
/* 푸터 영역 입니다. */
footer {
    border-top: 1px solid #c5c5c5;
    background-color: #F6FDC3;
    text-align: center;
    padding: 30px 30px;
}