/* ν—¤λ” */
header {
    background-color: #5589fa;
    display: flex;
    border-bottom: 3px solid rgb(255, 255, 255);
    height: 150px;
    flex-flow: wrap nowrap;
    justify-content: space-between;
}
header h1 {
    margin: 30px 30px;

}
header h1 img {
    width: 300px;
    margin-left: 30px;
    
}
header .menu {margin-right: 20px;}
header .menu a {
    font-family: 'omyu_pretty';
    font-size: 2rem;
    line-height: 150px;
    margin-right: 30px;
}
main {text-align: center;}
/* ν‘Έν„° */
footer {
    background-color: #5589fa;
    padding: 30px 30px;
    border-top: 3px solid rgb(255, 255, 255);
}
